#grid{
height: 640px;
width: 640px;
display: flex;
flex-wrap: wrap;
background-color: lightseagreen;
border: 5px solid black;
 
}

#grid div{
    height: 40px;
    width: 40px;       
    background-color: lightsalmon;
    border-width: thin;
    border-style: solid;
    border-color: slategray;
}

#headerDiv{    
    border-style: solid;
    border-color: lightskyblue;
    width: auto;
}

#footerDiv{    
    border-style: solid;
    border-color: lightsalmon;
    width: auto;
}