body{
    background-color: lightgray;

}

#grid{
height: 640px;
width: 640px;
display: flex;
flex-wrap: wrap;
background-color: lightseagreen;
border: 5px solid black;
text-align: center;
margin: auto;


 
}

#grid div{
    height: 40px;
    width: 40px;       
    background-color: lightsalmon;

    

}

#headerDiv{    
    border-style: solid;
    border-color: darkred;
    width: auto;
}

#footerDiv{    
    border-style: solid;
    border-color: darkcyan;
    width: auto;
}