#container{
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    width: 25%;
    border: 3px solid green;
    padding: 10px;
 
}
#pixelDiv{
    flex-grow: 1;
    height: 20px;
    width: 20px;
    border: 1px solid slategray;
    background-color: lightcyan;    
}

#headerDiv{    
    border-style: solid;
    border-color: lightskyblue;
    width: auto;
}

#footerDiv{    
    border-style: solid;
    border-color: lightsalmon;
    width: auto;
}